html,
body {
  /* To center the calculator on the page */
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  height: 480px;
  width: 320px;

  display: flex;
  flex-direction: column;

  border: 2px solid black;
  border-radius: 16px;
  padding: 8px;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex: 1;

  border: 2px solid darkgrey;
  border-radius: 8px;
  margin: 4px 4px 8px;
  padding: 8px;
  text-align: right;
}

#current-result {
  font-size: 16px;
  color: grey;
}

#expression {
  font-size: 48px;
}

#buttons {
  display: flex;
  justify-content: space-between;

  flex: 4;
  padding: 4px;
  gap: 8px;
}

#numbers,
#operations {
  display: flex;
  flex-direction: column;
}

#numbers {
  flex: 3;
}

.numbers-row {
  display: flex;

  flex: 1;
}

#operations {
  flex: 1;
}

.operations-column {
  flex: 1;

  display: flex;
  flex-direction: column;
}

button {
  flex: 1;

  margin: 4px;
}
